<div class="staff">
  <a href="/about#pete"><img class="profile" src="/images/team/pete.jpg" /></a>
  <a href="/about#jonny-w"><img class="profile" src="/images/team/jonny-w.jpg" /></a>
  <a href="/about#zoe"><img class="profile" src="/images/team/zoe.jpg" /></a>
  <a href="/about#jonny-a"><img class="profile" src="/images/team/jonny-a.jpg" /></a>
  <a href="/about#fred"><img class="profile" src="/images/team/fred.png" /></a>
  <a href="/about#ben"><img class="profile" src="/images/team/ben.jpg" /></a>
  <a href="/about#pusheenicorn"><img class="profile" src="/images/team/pusheenicorn.jpg" /></a>
</div>
