.site-header {
  @extend %vertical-rhythm;

  img {
    max-width: 500px;
  }

  text-align: center;
  margin-top: ($spacing-unit / 2);

  @media print {
    float: right;
    max-width: 33%;
    margin: 0;
  }
}

.top-links {
  @extend %vertical-rhythm;

  text-transform: uppercase;
  font-weight: $strong-font-weight;
  letter-spacing: 1px;

  border-bottom: 1px solid $border-color;
  padding-bottom: ($spacing-unit / 2);

  a {
    margin: 0 ($spacing-unit / 2);
  }

  @media print {
    display: none;
  }
}
